 <div class="booyah-box col-xs-10 col-xs-offset-1">
    <h4><%= @question.category %></h4>
    <br>
    <h3><%= @question.question %></h3>
    <br>
    <br>
    <% @answers.each do |a| %>
        <% if a.correctanswer == true %>
            <h4>Correct Answer</h4>
            <h3><%= a.answer %></h3>
        <% else %>
            <h3><%= a.answer %></h3>
        <% end %>
    <% end %>
<br />
    <%= link_to 'Back', root_path, class: 'btn btn-success' %> 
</div>
